html {
    font-family: 'Montserrat', sans-serif;
    background-color: #56CCF2;
}

.container-fluid {
    background-color: #56CCF2;
}

h1 {
    color: black;
    letter-spacing: 2px;
}

#searchBar {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

table {
    border-spacing: 0;
}

#tableTodo {
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: white;
    border-collapse: initial;
}

.table td {
    border: none;
    line-height: 3;
}

th {
    font-size: 20px;
}

.add, #delete, #edit {
    cursor: pointer;
}

td.state {
    border-radius: 10px;
    display: block;
    width: 100px;
    margin-top: 20px;
    line-height: 1;
}

td.state.done {
    background-color: #70CF97;
}

td.state.toDo {
    background-color: #56CCF2;
}

td.state.inProgress {
    background-color: #F2C94B;
}

td.state.late {
    background-color: #EB5757;
}

td.round.done {
    color: #70CF97;
}

td.round.toDo {
    color: #56CCF2;
}

td.round.inProgress {
    color: #F2C94B;
}

td.round.late {
    color: #EB5757;
}

table, th, td {
    /*padding: 30px;*/
}

#addLine {
    color: gray;
}

.fa-plus {
    font-size: 1.5rem;
}

.form-select {
    width: 120px !important;
}